{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center;">
        <h2>Male einen Smiley:</h2>
        <canvas id="smiley" width="100" height="100" style="border: solid 1px #000; cursor: pointer;"></canvas>
        <form action="{{ path('save_image') }}" method="post" id="smiley-form">
            <input type="hidden" name="smiley" id="smiley-input"/>
            <button name="submit" value="smile">Fröhlich!</button>
            <button name="submit" value="sad">Traurig!</button>
            <button name="submit" value="unknown">Die KI raten lassen!</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/draw.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#smiley').drawToCanvas({zoom: 1});

            $('#smiley-form').submit(function () {
                var smileyCanvas = document.getElementById('smiley');
                $('#smiley-input').val(smileyCanvas.toDataURL());
            });
        });
    </script>
{% endblock %}